/* Footer Css */

footer {
    background-color: #000;
    color: #ecf0f1;
    padding: 40px 20px 10px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    max-width: 1200px;
    margin: auto;
    padding: 2vh 0 3vh 0;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    font-family: 'Poppins';
}
.footer-column:nth-child(2){
    text-align: center;
}

.footer-column h3 {
    margin-bottom: 1.8rem;
    font-size: 22px;
    font-family: 'Roboto', "Poppins";
    color: var(--button-color);
}

.footer-column p {
    margin-bottom: 13px;
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.footer-column p i{
    font-size: 20px;
    color: #fff;
    
}
.footer-column h4{
    margin-bottom: 16px;
}
.footer-column i{
    font-size: 20px;
    padding-right: 13px;
}
.footer-column h4 span{
    font-size: 15px;
    font-weight: normal;
    
}

.social-icons {
    display: flex;
    gap: 15px;
}
.social-icons a i{
    font-size: 22px;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    color: #fff;
    border-radius: 50%;
}
.social-icons a:nth-child(1) i{
    padding: 10px 13px;
}
.social-icons i:hover {
    background: var(--button-color);
    scale: 1.1;
    color: #fff;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.footer-bottom{
    font-size: 15px;
    text-align: center;
    padding: 3vh 0;
}
@media screen and (max-width: 768px){
    footer {
        padding: 40px 10px 10px;
    }
    .footer-container{
        width: 100%;
        flex-direction: column;
        gap: 7vh;
    }
    .footer-bottom{
        font-size: 16px;
    }
    .footer-column:nth-child(2){
        text-align:start;
    }
}

/* Footer Css end*/